<div class="main-content-are">
  <div class="main-content-container">
    <div class="main-content">
      <div class="row">
        <div class="col-md-3 ">
          <div class="card grey-blue-heading-lg bg-secondary">
            <div class="card-body">
              <h1><%= @user_count %></h1>
              <h3 class="card-title">Users</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="card grey-blue-heading-lg bg-secondary">
            <div class="card-body">
              <h1><%= @project_count %></h1>
              <h3 class="card-title">Projects</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>