/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bulma';
 @import 'bulma-extensions';
 @import "noty/lib/noty";
 @import "noty/src/themes/semanticui";

 .navbar-item img {
   max-height: 2.75rem;
 }
 .w-200 {
   width: 200px !important;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 input[type=number] {
   -moz-appearance: textfield;
 }

.form-header {

   padding: 12px 20px;
   border-bottom: 1px solid #e6e6e6;
   -webkit-transition: all .3s;
   transition: all .3s;

 }

 .form-outer {
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   display: inline-block;
   width: 100%;
   border-radius: 6px;
   border: 1px solid #e5e5e5;
   -webkit-transition: all .3s;
   transition: all .3s;

 }

 .form-layout .form-outer .form-header .form-header-inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
 }

 

 .form-layout.is-split .form-outer .form-body {
   padding: 0;
 }
 .effort-box {
   box-shadow: none;
   background: #e6e6e6;
 }
 .effort-box p {
   font-weight: bold;
   text-align: center;
 }
 .effort-num {
   font-size: 26px;
 }
